#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  background-color: #222;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button {
  background-color: #111;
  padding: 8px 16px;
  border-radius: 4px;
  color: #eee;
  outline: none;
  cursor: pointer;
  border: none;
}